/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grey-boxes {
    background-color: rgba(237,242,247,255);
}

.centered-container {
    text-align: center;
}

/* HEADER */

.logo-title {
    padding: 5px;

}









/* MAIN */